@import "select2.css";
@import "dataTables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

.required label:after {
    content: " *";
}

.required:not(.selected) .select2 .select2-selection--single,
.required input:placeholder-shown {
    border-color: rgb(167, 139, 250);
}

.bg-pattern {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.bg-pattern-light {
    background-image: url("../images/bg-white.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

select {
    background-position: right center;
}
